<nav class="navbar navbar-expand-lg navbar-primary bg-dark">
<%= link_to 'Home', root_path, class:"navbar-brand text-light" %>
  <%# <a class="navbar-brand text-light" href="#">Articles</a> %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    <%if user_signed_in?%>
      <li class="nav-item">
      <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class:"nav-link text-light" %>
      </li>
      <li>
      <%= link_to 'Edit Profile', edit_user_registration_path, class:"nav-link text-light"%>
      </li>
      <li>
       <%= link_to 'New Post', new_post_path, class:"nav-link text-light"%>
       </li>
    <% else %>
       <li>
      <%= link_to 'Sign Up', new_user_registration_path, class:"nav-link text-light"%>
      </li>
      <li>
      <%= link_to 'Sign in', new_user_session_path, class:"nav-link text-light"%>
      </li>
      
    <%end%>
    <li>
      <%= link_to 'All Posts',posts_path, class:"nav-link text-light"%>
      </li>
    </ul>
  </div>
</nav>